@import partials/normalize
@import partials/variables
@import partials/mixins
@import partials/base
@import partials/b64

@import partials/fonts
@import partials/layout

@import partials/vendors/swiper
@import partials/vendors/sprites/stylesheet
@import partials/vendors/hamburgers

@import partials/nav
@import partials/menu-btn


@import partials/header
@import partials/head
@import partials/why-rtb
@import partials/agencies
@import partials/text-block
@import partials/trafic-circle
@import partials/funnel

@import partials/slider-steps

.logos
    &__section
        display: flex
        flex-wrap: wrap
        align-items: center
        margin-bottom: 60px

    &__item

        display: inline-block
        margin-right: 30px
        margin-bottom: 25px

+media($medium)
    .logos
        &__section
            margin-bottom: 0
            background-color: white
            position: relative

+media(610px)

