@import partials/normalize
@import partials/variables
@import partials/mixins
@import partials/base
@import partials/b64

@import partials/fonts
@import partials/layout

@import partials/vendors/swiper
@import partials/vendors/sprites/stylesheet
@import partials/vendors/hamburgers

@import partials/nav
@import partials/menu-btn


@import partials/header
@import partials/head
@import partials/why-rtb
@import partials/agencies
@import partials/text-block
@import partials/trafic-circle


@import partials/slider-steps





.funnel
    position: relative
    height: 470px
    &__trapeze
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 470px
        background-image: url($trapezoid_lg)
        background-repeat: no-repeat
        background-size: 100%

+media($medium)
.funnel
    height: 631px


    &__trapeze
        height: 631px

        background-image: url($trapezoid_md)



+media($small)
    .funnel
        height: 631px

        &__trapeze
            height: 631px

            background-image: url($trapezoid_sm)
      